/* Базовий клас для ВСІХ кнопок */
.button-base {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    
    /* Текст */
    color: rgb(255, 255, 255); 
    font-size: 1.6rem;
    font-weight: bold;

    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Спільні стани :active (застосовуються до всіх кнопок) */
.button-base:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Модифікатор: Синя кнопка */
.button-left {
    background-color: #2983ea; 
}

.button-left:hover {
    background-color: rgb(18, 18, 143);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

.button-left:active {
    background-color: rgb(7, 7, 93);
    
}


/* Модифікатор: Жовта кнопка */
.button-center {
    background-color: #d3ca25;
}

.button-center:hover {
    background-color: rgb(189, 129, 25);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

.button-center:active {
    background-color: rgb(93, 70, 7);
    
}

/* Модифікатор: Зелена кнопка */
.button-right {
    background-color: #25d382;
}

.button-right:hover {
    background-color: rgb(13, 131, 95);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

.button-right:active {
    background-color: rgb(17, 79, 65);
   
}

.button-group {
    display: flex;
    width: 600px; 
    height: 100px; 
    border: 1px dashed #ccc; 

    /* 1. Горизонтальне вирівнювання: Центрування */
    justify-content: center; 

    /* 2. Вертикальне вирівнювання: Центрування */
    align-items: center; 

    /* 3. Відстань між кнопками  */
    gap: 20px; 
}