body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

#mainText {
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

#secretInput {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    font-size: 1em;
}

#toggleBtn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, background-color 0.3s;
}

#toggleBtn:hover {
    background-color: #1e7e34;
}

/* Стиль для кнопки у режимі "Розкрити" */
#toggleBtn[data-state="hidden"] {
    background-color: #dc3545; /* Червоний колір */
}

#toggleBtn[data-state="hidden"]:hover {
    background-color: #bd2130;
}